# Logs
logs
*.log

# Compiled output
dist
build
*.js
*.js.map

# Dependency directories
node_modules/
jspm_packages/

# Typescript compilation
*.tsbuildinfo

# Environment variables
.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Editor configuration
.editorconfig

# Testing artifacts
coverage/
.nyc_output/

# yarn 2
/.pnp
.pnp.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pem